body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #333;
  }
  
  .resume-header {
    max-width: 800px;
    margin: auto;
    padding: 40px;
  }
  .resume-header.a{
    font-size: smaller;
    align-items: left;
    width: 3px;
  }
  .icons:hover{
    color: #c51010;
  }

  header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  header h1 {
    margin: 0;
    font-size: 36px;
  }
  
  header p {
    margin: 5px 0;
  }
  
  section {
    margin-bottom: 25px;
  }
  
  h2 {
    border-bottom: 4px solid #050e72;
    padding-bottom: 5px;
    color: #c51010;
  }
 h3{
    color: #0f176e
  }
  
  ul {
    list-style: square inside;
    padding-left: 0;
  }
  
  .project-item {
    margin-bottom: 15px;
  }
  p {
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px,;
  }   
  #resume-content {
    background-color: white;
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ccc;
    text-align: left;
  }  
